# Node.js modülleri
node_modules/

# Log dosyaları
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Çalışma ortamı
.env
.env.local
.env.*.local

# Sisteme özgü dosyalar
.DS_Store
Thumbs.db

# Editor dosyaları
.idea/
.vscode/
*.swp

# Çıktı klasörleri
dist/
build/

# Geliştirme için kullanılan geçici dosyalar
.tmp/
.temp/

# Test çıktıları
coverage/
.nyc_output/
